h1 {
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  text-align: center;
  background-color: black;
  color: white;

}

/*.main {
  background-image: url("./images/hypnotize.png");
}*/

.nav {
  background-color: lightgrey;
}

.footer {
  background-color: lightgrey;
}
